body { background-color: white
 }

  @media only screen and (max-width:620px) {
  /* for mobile phones */
  .content, .text, .body {

    width:100%;
  }
}
/*Admin page*/
.file {
  visibility: hidden;
  position: absolute;
}
.custom-file-name:after {
  content: attr(data-content) !important;
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  height: 100%;
  overflow: hidden;
  padding: 0.5rem 1rem;
}
}
.response {
  display: inline-block;
}

.card {
  padding: 15px;
  margin: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}


.logo{
  float: right;
}

.text{
  font-family:  sans-serif;
}

footer{
  text-align: center;
}

h1{
  text-align: center;
  color: green;
}

content, footer{
  font-family:  sans-serif;
}
/*Error*/
.error{
  text-align: center;
  margin: 5px;
}
 .error-header{
  font-size: 100pt;
  text-shadow: 2px 2px rgb(169,169,169);
}



/*News*/
.cardText {
  text-align: center;
}

.cardImg{
  margin-top: 7%;
  width: 100%;
}

.card {
  margin: 30px;
}
/*Contacts*/
#left {
    display: block;
    float: left;
    top: 0;
}
.text{
      font-size: 120%;

}
#right {
    display: block;
    float: right;
    top: 0;
}
