@import url('https://fonts.googleapis.com/css?family=Chakra Petch');

body { background-color: white
 }

  @media only screen and (max-width:620px) {
  /* For mobile phones: */
  .body, .content, .text {
    width:100%;
  }
}
.newsbox {
  display: flex;
  justify-content: center;
  border-top-style: solid;
  border-top-width: 2px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.conteiner {
  width: 25%;
  border-left: solid 1px;
  border-right: solid 1px;
}
  
.headline {
  align-items: flex-start;
}

.img {
  width: 250px;
  height: 200px;
  display: flex;
}
.logo{
  float: right;
}

.text{
  font-family: 'Chakra Petch', sans-serif;
}

footer{
  text-align: center;
}

h1{
  text-align: center;
  color: green;
}

content, footer{
  font-family: 'Chakra Petch', sans-serif;
}

.img{
  animation-duration: 3s;
  animation-name: maximize;
}

